*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
build/

UnitTests/assets/Unit Test Text File 1.txt
UnitTests/assets/Unit Test Text File 2.txt
UnitTests/assets/Unit Test Text File 3.txt

Sandbox/assets/shaders/ruleSet*.frag
Sandbox/assets/shaders/ruleSet*.vert